 .u-section-1 {
  background-image: url("images/242346051_115240284225146_7432531393878926685_n.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 24.48% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 140px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1061px;
  margin: -119px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 344px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 79px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 63px 103px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 45px 34px 0 -2px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 344px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 79px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 63px 103px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 46px 32px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 344px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 79px;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 63px 103px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 46px 32px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 101px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 875px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 500;
    width: auto;
    margin-top: 9px;
    margin-right: 59px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 500;
    width: auto;
    margin-top: 15px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 59px;
    margin-right: 26px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 66px;
  }

  .u-section-2 .u-text-5 {
    font-weight: 500;
    width: auto;
    margin-top: 15px;
    margin-right: 33px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 53px;
    margin-right: 11px;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 670px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 41px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 5px;
    margin-right: 31px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 64px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 46px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 49px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 26px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 46px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 46px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-text-2 {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    width: 506px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
    width: 506px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 7px;
    width: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 515px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG-20220131-WA0002.jpg");
  min-height: 515px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/IMG-20220131-WA0004.jpg");
  min-height: 515px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 515px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-right: 97px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 152px 0 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 80px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 51px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    background-position: 50% 10.67%;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 0%;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 29px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 152px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 619px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 177px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 19px auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/274636680_744120460113865_3268366677263252196_n.jpg");
  min-height: 619px;
  background-position: 50% 79.86%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 66px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 42px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 881px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 6px;
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 185px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 469px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 618px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 100px auto 75px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-5 .u-image-1 {
  height: 196px;
  margin: 0 auto 40px 0;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 2px;
  font-size: 1rem;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 441px;
}

.u-section-5 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 40px 20px 0;
}

.u-section-5 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 441px;
}

.u-section-5 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 0% 16.01%;
}

.u-section-5 .u-text-7 {
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 40px 20px 0;
}

.u-section-5 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 117px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin: 40px 11px 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 115px;
    margin-top: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 42px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 117px;
    margin-top: 1px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 29px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    height: 232px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 29px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    height: 243px;
    margin-top: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-5 .u-image-1 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
    width: NaNpx;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
    width: NaNpx;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-5 .u-image-3 {
    height: 217px;
  }
} .u-section-6 {
  background-image: url("images/242437384_1164643884026320_3811046669661018457_n.jpg");
  background-position: 50% 14.01%;
}

.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 848px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 471px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 648px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1011px;
  margin: -69px 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 709px;
}

.u-section-7 .u-shape-1 {
  width: 1011px;
  height: 546px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  height: 340px;
  width: 446px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -229px 0 0 auto;
}

.u-section-7 .u-group-1 {
  width: 822px;
  min-height: 241px;
  margin: -629px auto 392px 111px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  font-weight: 500;
  text-transform: none;
  font-size: 3rem;
  margin: 41px 110px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 709px;
}

.u-section-7 .u-image-2 {
  height: 340px;
  margin: 317px auto 52px 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 598px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 834px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-7 .u-shape-1 {
    width: 834px;
  }

  .u-section-7 .u-image-1 {
    width: 368px;
  }

  .u-section-7 .u-group-1 {
    width: 678px;
    margin-left: 92px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-7 .u-text-1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    width: auto;
    margin-top: 52px;
    margin-right: 91px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 444px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 639px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-shape-1 {
    width: 639px;
  }

  .u-section-7 .u-image-1 {
    width: 282px;
  }

  .u-section-7 .u-group-1 {
    width: 519px;
    margin-left: 58px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 505px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 881px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 264px;
  }

  .u-section-7 .u-group-1 {
    width: 487px;
    margin-left: 27px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 27px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-7 .u-image-2 {
    height: 515px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 569px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 868px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 234px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 332px;
    min-height: 479px;
    margin: -767px 0 0 auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 1px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    margin-right: 8px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-7 .u-image-2 {
    height: 420px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 480px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: -34px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 514px;
}

.u-section-8 .u-image-1 {
  width: 352px;
  height: 426px;
  object-position: 52.7% 50%;
  margin: 0 auto 50px 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 514px;
}

.u-section-8 .u-image-2 {
  width: 352px;
  height: 435px;
  margin: 35px auto 44px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 514px;
}

.u-section-8 .u-image-3 {
  margin-top: 88px;
  margin-right: 0;
  margin-left: auto;
  width: 352px;
  height: 426px;
  object-position: 60.48% 0%;
  background-position: 11.83% 0%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    width: 290px;
  }

  .u-section-8 .u-image-2 {
    width: 290px;
  }

  .u-section-8 .u-image-3 {
    width: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    width: 222px;
  }

  .u-section-8 .u-image-2 {
    width: 222px;
  }

  .u-section-8 .u-image-3 {
    width: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-8 .u-image-1 {
    width: 394px;
  }

  .u-section-8 .u-image-2 {
    width: 339px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-8 .u-image-3 {
    width: 381px;
    height: 486px;
    margin-top: 28px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-8 .u-image-1 {
    width: 268px;
    height: 291px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-8 .u-image-2 {
    width: 175px;
    height: 216px;
    margin-top: 35px;
    margin-bottom: 44px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-8 .u-image-3 {
    width: 258px;
    margin-top: 88px;
    height: 291px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 973px;
}

.u-section-9 .u-text-1 {
  font-weight: 500;
  text-transform: none;
  font-size: 3rem;
  margin: 13px 634px 0 43px;
}

.u-section-9 .u-image-1 {
  height: 501px;
  object-position: 50% 59.24%;
  background-position: 50% 14.45%;
  width: 518px;
  margin: 37px auto 0 0;
}

.u-section-9 .u-group-1 {
  width: 684px;
  min-height: 595px;
  margin: -501px -62px 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 43px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-image-2 {
  width: 126px;
  height: 79px;
  margin: -5px auto 0 444px;
}

.u-section-9 .u-image-3 {
  width: 79px;
  height: 79px;
  margin: -79px 478px 0 auto;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 69px;
  min-height: 16px;
  width: 69px;
  min-width: 16px;
  margin: 21px auto 58px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: 379px;
    margin-left: 100px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 22px;
    margin-left: 115px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 18px;
    margin-right: 577px;
    margin-left: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: -35px;
    margin-right: 378px;
    margin-left: auto;
  }

  .u-section-9 .u-image-3 {
    margin-right: auto;
    margin-left: 357px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 83px;
    width: 83px;
    margin-top: 22px;
    margin-bottom: 52px;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-9 .u-text-1 {
    margin-right: -50px;
    margin-left: 210px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 27px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-9 .u-group-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-image-2 {
    margin-top: -28px;
    margin-right: 251px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 281px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 89px;
    width: 89px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-9 .u-group-1 {
    width: 540px;
    margin-top: 14px;
    margin-right: 300px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-right: auto;
    margin-left: 144px;
  }

  .u-section-9 .u-image-3 {
    margin-right: 156px;
    margin-left: auto;
  }

  .u-section-9 .u-social-icons-1 {
    height: 101px;
    width: 101px;
    margin-top: 21px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    height: 329px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-group-1 {
    width: 390px;
    min-height: 784px;
    margin-top: 20px;
    margin-right: 400px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 1px;
    margin-left: 44px;
  }

  .u-section-9 .u-image-3 {
    margin-right: 71px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 99px;
    width: 99px;
    margin-top: 11px;
  }
}